{% extends '_templates/base.njk' %}

{% block page_title %}National Parks Final Project{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>2024 Final Project</h1>
  <p>Get a brief look at all of the National Parks in the United States. With the majority of states in the U.S. having national parks, it's important to be informed about the green spaces around you. Let's take care of our Mother Earth!</p>
  <h2>A brief look at our National Parks</h2>
  <p>This information is about the National Parks of the United States.</p>
  <div class="row">
    {% for park in parks.Parks %}
      <div class="col">
        <img src="img/{{ park.images }}" alt="Photo of {{park.Name}}" class="img-fluid">
        <h3><a href="parks/{{ park.slug }}.html">{{ park.Name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <p>
  
  </p>
  <h2>A list of the National Parks</h2>
  <hr>
  {% for parks in parks.Parks %}
    <h3><a href="{{ park.url }}" target="_blank">{{ parks.Name }}</a></h3>
    <p> The acres in {{parks.Name}} are {{ parks.Acres}}. The park is located in {{ parks.State }} </p>
    <h3><a href="parks/{{ park.slug }}.html">{{ park.Name }}</a></h3>
  <hr>
  {% endfor %}
</div>
{% endblock %}